html{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.btn{
    padding: 1rem;
    border: 2px solid white;
    border-radius: 0.5rem;
    font-size: 0.9rem;
    font-weight: bold;
}
.btn:hover{
    border: 2px solid gray;
}

.btn-primary{
    background-color: rgb(74, 132, 208);
    color: white;
}
.btn-danger{
    background-color: rgb(168, 18, 18);
    color: white;
}
.btn-dark{
    background-color: rgb(6, 15, 26);
    color: white;
}